<section class="header">
    <nav class="navbar">
        <div class="logo">
            <a href="/"><img src="/images/LOGO.png" width="200" height="85"></a>
        </div>
        <div class="nav-links">
            <ul>
                <li><a href="/">HOME</a></li> 
                <li><a href="/projects">PROJECT LIST</a></li>
                <li><a href="/teams">TEAM LIST</a></li>
                <li><a href="/users">STUDENT LIST</a></li>
            </ul>
            <li class="user-pic-item">
                <% const avatar = user.student ? user.student.avatar : "/images/profile.png" %>
                <img src="<%= avatar %>" class="user-pic" onclick="toggleMenu()">

                <div class="sub-menu-wrap" id="subMenu">
                    <div class="sub-menu">
                        <div class="user-info">
                            <img src="<%= avatar %>">
                            <h2><%= user.firstName %> <%= user.lastName %></h2>
                        </div>
                        <hr>
                        <% if (!user.admin) { %>
                            <a href="/profile" class="sub-menu-link">
                                <img src="<%= avatar %>">
                                <p>Profile</p>
                                <span>&gt;</span>
                            </a>
                            <% if (user.student.project) { %>
                                <a href="/project/<%= user.student.project %>" class="sub-menu-link">
                                    <img src="/images/setting.png">
                                    <p>View Project</p>
                                    <span>&gt;</span>
                                </a>
                            <% } %>
                            <% if (user.student.team) { %>
                                <a href="/team/<%= user.student.team %>" class="sub-menu-link">
                                    <img src="/images/setting.png">
                                    <p>View Team</p>
                                    <span>&gt;</span>
                                </a>
                            <% } %>
                            <a href="/invites" class="sub-menu-link">
                                <img src="/images/setting.png">
                                <p>View Team Invites</p>
                                <span>&gt;</span>
                            </a>
                        <% } %>
                        <% if (user.admin) { %>                                  
                            <a href="/adminHomepage" class="sub-menu-link">
                                <img src="/images/setting.png">
                                <p>Admin Controls</p>
                                <span>&gt;</span>
                            </a>                            
                        <% } %>
                        <a href="/logout" class="sub-menu-link">
                            <img src="/images/logout.png">
                            <p>Logout</p>
                            <span>&gt;</span>
                        </a>
                    </div>
                </div>
            </li>
        </div>
    </nav>

    <script>
        let subMenu = document.getElementById("subMenu");

        function toggleMenu(){
            subMenu.classList.toggle("open-menu");
        }
    </script>
</section>