
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

<%- include("partials/doc-head.ejs", {title: "Team Invites"}); %>

<body>
    <%- include('partials/header.ejs'); %>

    <main>
        <article class="invite-card">
            <h1>Send Invite</h1>

            <%- include('partials/current-team.ejs'); %>
            
            <form action="/invite/new" method="post" id="invite">   
                <p> Would you like to send an invite or request to join a team?<br>                
                    <input type="radio" name="target" id="student" value="user" checked>
                    <label for="student" id="studentInviteLabel">Student</label>
                    <input type="radio" name="target" id="team" value="team">
                    <label for="team">Team</label>
                </p>
                
                <div class="searchContainer" id="inviteStudentList">                                                        
                    <select id="id" name="id">
                        <option value="student" class="studentOption">Choose a Student</option>
                        <% allStudents.forEach(student => { %>
                            <% if (student.userID != yourID) { %> 
                                <option value="<%= student.userID %>" class="studentOption">
                                    <%= student.firstName + ' ' + student.lastName %> </option>
                            <% } %>
                        <% }); %>

                        <option value="team" class="teamOption">Choose a Team</option>
                        <% allTeams.forEach(team => { %>
                            <% if (team.teamID != yourTeam) { %> 
                                <option value="<%= team.teamID %>" class="teamOption">
                                    Team <%= team.teamID %> </option>      
                            <% } %>
                        <% }); %>

                    </select>                                     
                </div> 
                
                <div class="contactRow">
                    <label for="message">Message</label>
                    <textarea form="invite" id="message" name="message">Hello! Would you like to join my team?</textarea>
                </div>

                <input type="submit" value="Submit">
            </form>            

        </article>
    </main>

    <script>
        document.querySelectorAll('input[name="target"]').forEach((radio) => {
            radio.addEventListener('change', function() {                
                const selectElement = document.getElementById('id');
                selectElement.querySelectorAll('option').forEach(option => {
                    option.selected = false;
                });                            

                const messageText = document.getElementById('message');

                if (this.value === 'team') {         
                    selectElement.value = "team";                                                                       
                    document.querySelectorAll('.studentOption').forEach(option => {
                        option.style.display = 'none';                                 
                    });
                    
                    document.querySelectorAll('.teamOption').forEach(option => {
                        option.style.display = "block";
                    });

                    messageText.value = "Hello! I would like to join your team.";

                } else {
                    selectElement.value = "student";
                    document.querySelectorAll('.studentOption').forEach(option => {
                        option.style.display = "";
                    });
                    
                    document.querySelectorAll('.teamOption').forEach(option => {
                        option.style.display = "none";
                    });

                    messageText.value = "Hello! Would you like to join my team?";
                }        
            }); 
        });
    </script>
</body>

</html>