<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

<%- include("partials/doc-head.ejs", {title: "Project List"}); %>

<body>
    <%- include('partials/header.ejs'); %>

    <div class="function-container">
        <div class="function-item">
            <button class="goback-button" onclick="goBack()">Previous Page</button>
        </div>
    </div>

<script>
    function goBack() {
    window.history.back();
}
</script>

    <main>
        <article>
            <ul class="project-info" id="projectInfo">
                <li class="project-profile-container">
                    <div class="project-profile-card">
                        <div class="project-page-image">
                            <img class="page-profile-image" src="/images/<%= project.avatar %>" />
                        </div>
                        <div class="project-profile-card-container">
                            <div class="project-page-name">
                                <h1><%= project.projectname %></h1>
                            </div>
                            <div class="project-page-sponsor">
                                <%= project.affiliation %>
                            </div>
                            <div class="projectPageStatus">
                                <p>
                                    Project Status:
                                    <% if (!project.team_assigned) { %>
                                        <span class="project-status-open">Open</span>
                                    <% } else { %>
                                        <span class="project-status-closed">Closed</span>
                                    <% } %>
                                </p>
                            </div>
                        </div>
                    </div>
                    <hr>
                </li>
                <li>
                    <div class="project-page-description">
                        <h1>Description</h1>
                        <%= project.description %>
                    </div>
                    <hr>
                    <div class="project-page-skills inline-list">
                        <h1>Skills Needed</h1>
                        <%- include("partials/labeled-list.ejs", { label: "Skills" , list: project.skills || []}); %>
                    </div>
                    <hr>
                    <div class="project-page-team-constraints">
                        <h1>Team Information</h1>
                        <div>
                            <h2 style="display: inline;">Project Team Size: </h2> <%= project.teamSize %>
                        </div>
                        <div>
                            <h3> </h3>
                        </div>
                        <div>
                            <h3 style="display: inline;">Max Teams Assigned: </h3> <%= project.maxTeams %>
                        </div>
                    </div>
                    <hr>
                    <div class="project-page-files">
                        <h1>Relevant Files & Supplemental Information</h1>
                    </div>
                </li>
            </ul>