<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

<%- include("partials/doc-head.ejs", {title: "Team List"}); %>

<body>
    <%- include('partials/header.ejs'); %>

    <div class="function-container">
        <div class="function-item">
            <input type="text" id="searchInput" placeholder="Search teams" onkeyup="filterTeams()">
        </div>
        <div class="your-team">
            <%- include('partials/current-team.ejs'); %>
        </div>

        <% if (!user.admin) { %>
            <div class="inviteLinks">
                <div class="inviteInboxLink">
                    <a href="/invites">Invite Inbox</a>
                </div>
        
                <div class="newInviteLink">
                    <a href="/invite/new">Send an Invite</a>
                </div>
            </div>
        <% } %>
       
        
    </div>

    <main>
        <article>
            <ul class="profile-list" id="teamList">
                <% teams.forEach(team => { %>
                <li class="profile-item">
                    <a href="/team/<%= team.id %>">
                        <div class="profile-image-box">
                            <img class="profile-image" src="<%= team.avatar %>" />
                        </div>
                        <div class="profile-box">
                            <h2 class="team-name">
                                Team <%= team.id %>
                                <% if (team.id == yourTeam) { %>
                                    <span class="your-team-indicator">Your Team</span>
                                <% } %>
                            </h2>
                            <div class="profile-project-interest inline-list">
                                <%- include("partials/labeled-list.ejs", { label: "Interested Projects", list: team.interests, emptymsg: "None set" }); %>
                            </div>
                            <div class="profile-skills inline-list">
                                <%- include("partials/labeled-list.ejs", { label: "Skills", list: team.skills, emptymsg: "None set" }); %>
                            </div>
                            <div class="profile-members inline-list">
                                <%- include("partials/labeled-list.ejs", { label: "Members", list: team.members }); %>
                            </div>
                            <div class="team-status-box">
                                <p>
                                    Team Status:
                                    <% if (team.open) { %>
                                        <span class="team-status-open">Open</span>
                                    <% } else { %>
                                        <span class="team-status-closed">Closed</span>
                                    <% } %>
                                </p>
                            </div>
                        </div>
                    </a>
                </li>
                <% }) %>
            </ul>
        </article>
    </main>

    <script>
        function filterTeams() {
            var input, filter, ul, li, a, i, txtValue;
            input = document.getElementById('searchInput');
            filter = input.value.toUpperCase();
            ul = document.getElementById("teamList");
            li = ul.getElementsByTagName('li');
    
            for (i = 0; i < li.length; i++) {
                a = li[i].getElementsByClassName("team-name")[0];
                if (a) {
                    txtValue = a.textContent || a.innerText;
                    if (txtValue.toUpperCase().indexOf(filter) > -1) {
                        li[i].style.display = "";
                    } else {
                        li[i].style.display = "none";
                    }
                }
            }
        }
    </script>

</body>

</html>