<!DOCTYPE html>
<html lang="en">
<%- include("partials/doc-head.ejs", {title: "Team Page"}); %>
<body>
<%- include('partials/header.ejs'); %>

<div class="function-container">
    <div class="function-item">
        <button class="goback-button" onclick="goBack()">Previous Page</button>
    </div>
</div>

<script>
    function goBack() {
    window.history.back();
}
</script>

<main class="teamPageContents">
    <ul class="project-info" id="teamInfo">
        <li class="team-page-container">
            <div class="team-profile-card">
                <div class="team-page-image">
                    <img class="page-profile-image" src="<%= teamDataObj.avatar %>" />
                    <script>
                        console.log(teamDataObj);
                    </script>
                </div>
                <div class="team-profile-card-container">
                    <div class="team-page-name">
                        <h1>Team <%= teamDataObj.id %></h1>
                    </div>
                    <div class="teamPageStatus">
                        <p>
                            Team Status:
                            <% if (teamDataObj.open) { %>
                                <span class="project-status-open">Open</span>
                            <% } else { %>
                                <span class="project-status-closed">Closed</span>
                            <% } %>
                        </p>
                    </div>
                    
                    <% if (teamDataObj.id == yourTeam) { %>
                        <div class="leaveTeamButtonContainer">
                            <form action="/leave-team" method="post">
                                <input class="leaveTeamButton" type="submit" value="Leave Team" />
                            </form>
                        </div>
                    <% } %>
                </div>
            </div>
            <hr>
        </li>
        <li>
            <div class="team-page-project-assigned">
                <h1>Project Information</h1>
                <% if (teamDataObj.project == null) { %>
                    <p>No Project Assigned</p>
                <% } else { %>
                    <p>Project Assigned: <%= teamDataObj.project %></p>
                <% } %>
            </div>
            <hr>
            <div class="team-page-members">
                <h1>Team Members</h1>
                <% (teamDataObj.members).forEach(member => { %>
                    <p><%= member %><p>
                <% }) %>
            </div>
            <hr>
            <div class="team-page-projects">
                <h1>Interested Projects</h1> 
                <% let counter = 1; %>
                <% (teamDataObj.interests).forEach(proj => { %>
                    <p><%= counter %>. <%= proj %><p>
                        <% counter++; %>
                <% }) %>
                <% if (teamDataObj.id == yourTeam) { %>
                    <div class="setting-links">
                        <a href="/submitTeamPreferences">Set Project Preferences</a>
                    </div>
                <% } %>
            </div>
            <hr>
            <div class="team-page-skills">
                <h1>Skills</h1>
                <% (teamDataObj.skills).forEach(skill => {%>
                    <p><%= skill %></p>
                <% }) %>
            </div>
        </li>
    </ul>
</main>